

@media only screen and (min-width: 1281px) {

}

@media only screen and (min-width: 992px) and (max-width: 1280px) {

}
  
@media only screen and (min-width: 768px) and (max-width: 991px) {  





/* hotel holder */
.hotel_holder {width: 700px;}
.image_holder {height: 229px !important;width: 310px !important;}
.hotel_description {width: 389px !important;height: 229px !important;}
.descript_wrapper{width: 377px !important;margin-left: 5px !important;height: 90px !important;}
.hotel_name h1 {margin-top: 10px;}
/* hotel holder */
/* review button */
.show_reviews {height: 30px;}
.show_reviews p {line-height: 30px;}


/* review button */
/* price/date */
.price_date {margin-right: 20px;margin-top: -35px;}
.price_date p {font-size: 14px;margin-left: -6px;}
/* price/date */
/* reviews */
.review {width: 700px;}
.review h1 {margin-left: 80px;}
.review p {margin-left: 90px;margin-right: 30px; }
.short_line {width: 600px;}
.review_holder {width: 700px;}
/* reviews */
.review_spinner{margin-top: -35px; border-radius: 100%;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

/* hotel holder */
.hotel_holder {width: 380px;overflow: hidden;}
.star_holder {float: left;position: absolute;margin-left: 20px;margin-top: 10px !important;}
.image_holder {height: 320px !important;width: 380px !important;}
.hotel_description {width: 380px !important;height:auto !important;border-left: none !important;border-bottom: none;}
.descript_wrapper{width: 368px !important;margin-left: 5px !important; height: 150px !important;}
.hotel_name h1 {text-align: center;margin-left: 0px;margin-top: 30px; }
.hotel_name{width: 380px;margin: auto;}
.hotel_name p {font-size: 16px;margin-left: 10px;margin-right: 10px;margin-top: 10px;text-align: justify;}
/* hotel holder */
/* review button */
.show_reviews {margin-top: 20px !important; margin: auto;}
.show_reviews p {font-size: 16px;line-height: 40px;}
/* review button */
/* price/date */
.price_date {margin: auto;margin-right: 20px;margin-top: 20px; margin-bottom: 20px;}
.price_date h1 {text-align: center !important;}
/* price/date */
/* reviews */
.review {width: 380px;}
.review h1 {margin-left: 80px; }
.review p {text-align: justify;margin-left: 40px;margin-right: 20px; font-size: 16px;}
.review_score {width: 40px;height: 40px;margin-top: 10px;margin-left: 30px;}
.review_score i {margin-top: 13px;margin-left: 14px; }
.short_line {width: 290px;}
.review_holder {width: 380px;float: right;}
/* reviews */
/* error message */
.error_message {height: 60px;width: 240px;}
/* error message */
/*reviews spinner*/
.review_spinner{margin-left: 40px;margin-top: -40px;}
/*reviews spinner*/

}
@media only screen and (min-width: 320px) and (max-width: 479px) {
/* hotel holder */
.hotel_holder {width: 240px;overflow: hidden;}
.star_holder {float: left;position: absolute;margin-left: 20px;margin-top: 10px !important;}
.image_holder {height: 200px !important;width: 240px !important;}
.hotel_description {width: 240px !important;height: auto !important;border-left: none !important;border-bottom: none;}
.descript_wrapper{width: 230px !important;margin-left: 5px !important;}
.hotel_name h1 {text-align: center;margin-left: 0px;margin-top: 40px; }
.hotel_name{width: 240px;margin: auto;}
.hotel_name p {font-size: 14px;margin-left: 10px;margin-right: 10px;margin-top: 10px;text-align: justify;}
/* hotel holder */
/* review button */
.show_reviews {margin-top: 30px !important; margin: auto;}
.show_reviews p {font-size: 16px;line-height: 40px;}
/* review button */
/* price/date */
.price_date {margin: auto;margin-right: 20px;margin-top: 20px; margin-bottom: 20px;}
.price_date h1 {text-align: center !important;}
/* price/date */
/* reviews */
.review {width: 240px;}
.review h1 {margin-left: 80px; }
.review p {text-align: justify;margin-left: 40px;margin-right: 20px; font-size: 14px;}
.review_score {width: 40px;height: 40px;margin-top: 10px;margin-left: 30px;}
.review_score i {margin-top: 13px;margin-left: 14px; }
.short_line {width: 180px;}
.review_holder {width: 260px;float: right; }
/* reviews */
/* error message */
.error_message {height: 60px;width: 240px;}
/* error message */
/*reviews spinner*/
.review_spinner{margin-left: 40px;margin-top: 10px;}
/*reviews spinner*/
}

@media only screen and (max-width: 319px) {
/* hotel holder */
.hotel_holder {width: 240px;overflow: hidden;}
.star_holder {float: left;position: absolute;margin-left: 20px;margin-top: 10px !important;}
.image_holder {height: 200px !important;width: 240px !important;}
.hotel_description {width: 240px !important;height: auto !important;border-left: none !important;border-bottom: none;}
.descript_wrapper{width: 230px !important;margin-left: 5px !important;}
.hotel_name h1 {text-align: center;margin-left: 0px;margin-top: 40px; }
.hotel_name{width: 240px;margin: auto;}
.hotel_name p {font-size: 14px;margin-left: 10px;margin-right: 10px;margin-top: 10px;text-align: justify;}
/* hotel holder */
/* review button */
.show_reviews {margin-top: 30px !important; margin: auto;}
.show_reviews p {font-size: 16px;line-height: 40px;}
/* review button */
/* price/date */
.price_date {margin: auto;margin-right: 20px;margin-top: 20px; margin-bottom: 20px;}
.price_date h1 {text-align: center !important;}
/* price/date */
/* reviews */
.review {width: 240px;}
.review h1 {margin-left: 80px; }
.review p {text-align: justify;margin-left: 40px;margin-right: 20px; font-size: 14px;}
.review_score {width: 40px;height: 40px;margin-top: 10px;margin-left: 30px;}
.review_score i {margin-top: 13px;margin-left: 14px; }
.short_line {width: 180px;}
.review_holder {width: 260px;float: right; }
/* reviews */
/* error message */
.error_message {height: 60px;width: 240px;}
/* error message */
/*reviews spinner*/
.review_spinner{margin-left: 40px;margin-top: 10px;}
/*reviews spinner*/
}

